<div class="container bg-white p-3 rounded-3">
  <div class="title mb-3">Add New Investment</div>
  <div class="row">
    <div class="col-4">
      <form #investForm="ngForm" (submit)="onInvestSave(investForm)">
        <div class="mb-3">
          <label>Asset Type*</label>
          <input
            type="text"
            class="form-control"
            ngModel
            name="asset_type"
            required
          />
        </div>
        <div class="mb-3">
          <label>Quantity*</label>
          <input
            type="number"
            class="form-control"
            ngModel
            name="quantity"
            required
          />
        </div>
        <div class="mb-3">
          <label>Purchase Price($)*</label>
          <input
            type="number"
            class="form-control"
            ngModel
            name="purchase_price"
            required
          />
        </div>
        <div class="mb-3">
          <label>Invested On*</label>
          <input
            type="date"
            class="form-control"
            ngModel
            name="date"
            required
          />
        </div>
        <div class="mb-3">
          <button
            class="btn btn-primary btn-sm pe-4 ps-4 me-2"
            type="submit"
            [disabled]="!investForm.valid || isLoading"
          >
            {{ isLoading ? "Saving..." : "Save" }}
          </button>
          <a href="/dashboard" class="btn btn-secondary btn-sm pe-4 ps-4">
            Go Back
          </a>
        </div>
      </form>
    </div>

    <div class="col-8">
      <h6>Recent Investments</h6>
      <app-invest-table></app-invest-table>
    </div>
  </div>
</div>
