<div class="container">
  <div class="row">
    <div class="col"></div>

    <div class="col-3 bg-white p-5 rounded-3 auth">
      <form #registerForm="ngForm" (submit)="onSubmitRegister(registerForm)">
        <div class="title">Register</div>
        <small class="text-secondary"
          >Sign up and manage your investments</small
        >
        <div class="mb-3 mt-5">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
          />
        </div>
        <div class="mb-3">
          <label>Name</label>
          <input
            type="text"
            class="form-control"
            ngModel
            name="name"
            required
          />
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            ngModel
            name="password"
            required
          />
        </div>
        <div class="mb-3">
          <button
            class="btn btn-primary btn-sm pe-4 ps-4 me-2"
            type="submit"
            [disabled]="!registerForm.valid || isLoading"
          >
            {{ isLoading ? "Loading..." : "Register" }}
          </button>
          <a routerLink="/login" role="button">Login</a>
        </div>
      </form>
    </div>

    <div class="col"></div>
  </div>
</div>
