<div class="row mb-4">
  <div class="col-12 col-lg-4">
    <label class="home-label">Investments</label>
    <div class="total-inv">
      {{ summary.total | currency }}
      <a role="button" routerLink="/new-investment">
        <i-feather name="plus" style="width: 10px; height: 10px"></i-feather>
        Add New</a
      >
      <a role="button" routerLink="/lazy" class="ms-2">
        <i-feather name="plus" style="width: 10px; height: 10px"></i-feather>
        Lazy</a
      >
    </div>
  </div>
  <div class="col-12 col-sm">
    <label class="home-label">Today</label>
    <div class="total-inv-sub">{{ summary.today | currency }}</div>
  </div>
  <div class="col-12 col-sm">
    <label class="home-label">Recent Investments</label>
    <div class="total-inv-sub">{{ summary.week | currency }}</div>
  </div>
  <div class="col-12 col-sm">
    <label class="home-label">This month</label>
    <div class="total-inv-sub">{{ summary.month | currency }}</div>
  </div>
</div>
