$primary-color: #2980b9;
$secondary-color: #27ae60;
$background-color: #34495e;
$text-color: #ecf0f1;

@mixin theme-dark {
  --primary-color: #ffffff;
  --secondary-color: #27ae60;
  --background-color: #282d33;
  --text-color: #ecf0f1;
}
