@import "variables";
@import "theme-light";
@import "theme-dark";
@import "mixins";

body.theme-light {
  @include apply-theme("theme-light");
}

body.theme-dark {
  @include apply-theme("theme-dark");
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);

  -webkit-transition: all 100ms ease-in; /* Safari */
  transition: all 100ms ease-in;
  -webkit-transition-delay: 100ms; /* Safari */
  transition-delay: 100ms;
}
