.home-label {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgb(141, 141, 134);
  letter-spacing: 1px;
}

.total-inv {
  font-size: 2rem;
  font-weight: 500;

  a {
    font-size: 0.7rem;
    text-decoration: none;
    color: #008ffb;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 0.2rem 0.8rem;
    vertical-align: middle;

    &:active {
      background-color: #eee;
    }

    &:hover {
      border-color: #7e7d7d;
    }
  }
}

.total-inv-sub {
  font-size: 1.5rem;
  font-weight: 500;
}
