<nav class="navbar navbar-expand-lg bg-custom">
  <div class="container-fluid">
    <a class="navbar-brand">Financial Portfolio Management System</a>

    <div class="navbar navbar-right" *ngIf="user">
      <app-theme-switcher></app-theme-switcher>
      <span class="navbar-text text-capitalize ms-2"
        >Hello, {{ user.name }}</span
      >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" role="button" (click)="userLogout()">
            <i-feather name="power" style="width: 20px"></i-feather>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
