<div class="container p-3 rounded-3">
  <div class="title mb-3">Add New Investment</div>
  <div class="row">
    <div class="col-4">
      <form #investForm="ngForm" (submit)="onInvestSave(investForm)">
        <div class="mb-3">
          <app-text-input
            [props]="{
              label: 'Asset Type*',
              type: 'text',
              name: 'asset_type',
              required: true,
              value: ''
            }"
          ></app-text-input>
        </div>
        <div class="mb-3">
          <app-text-input
            [props]="{
              label: 'Quantity*',
              type: 'number',
              name: 'quantity',
              required: true,
              value: ''
            }"
          ></app-text-input>
        </div>
        <div class="mb-3">
          <app-text-input
            [props]="{
              label: 'Purchase Price($)*',
              type: 'number',
              name: 'purchase_price',
              required: true,
              value: ''
            }"
          ></app-text-input>
        </div>
        <div class="mb-3">
          <app-text-input
            [props]="{
              label: 'Invested On*',
              type: 'date',
              name: 'date',
              required: true,
              value: ''
            }"
          ></app-text-input>
        </div>
        <div class="mb-3">
          <app-button
            [props]="{
              label: isLoading ? 'Saving...' : 'Save',
              isDisabled: !investForm.valid || isLoading
            }"
          ></app-button>

          <a href="/dashboard" class="btn btn-secondary btn-sm pe-4 ps-4">
            Go Back
          </a>
        </div>
      </form>
    </div>

    <div class="col-8">
      <h6>Recent Investments</h6>
      <app-invest-table></app-invest-table>
    </div>
  </div>
</div>
