/* You can add global styles to this file, and also import other style files */

body {
  background-color: #f9fafb;

  //   background: url("https://t4.ftcdn.net/jpg/00/89/71/13/360_F_89711348_dbwDKRve7Z6HBwhV6WgvOLg55kqgi2aB.jpg");
  //  background-: no-repeat;
  //   background-size: cover;
  //   opacity: 0.5;
}

.bg-custom {
  background-color: #f9fafb;
  border-bottom: 1px solid #cccccc59;
  margin-bottom: 2rem;
}

.feather-plus {
  margin-top: -3px !important;
}

.shadow {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.03) !important;
}
